<div id="messages">
  <% @chat.messages.each do |message| %>

    <% if message.role == "user" %>
      <div class="text-end mb-3">
        <div class="bg-light p-3 rounded">
          <%= simple_format(message.content) %>
        </div>
      </div>

    <% else %>
      <div class="text-start mb-3">
        <div class="p-3">
           <%= simple_format(message.content) %>
        </div>
      </div>

    <% end %>

  <% end %>
</div>

<%= simple_form_for [@chat, @message] do |f| %>
  <%= f.input :content, label: "Ask about your trip", required: true %>
  <%= f.button :submit, "Ask AI", class: "btn btn-primary" %>
<% end %>
